{% extends 'todo/base.html' %}
<title>To-Do List</title>
{% block content %}
<body>
  {% for task in tasks %}
  <tr>
    <div class="custom-control form-control-lg custom-checkbox">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="custom-control-label" for="flexCheckDefault"> {{task}} </label>
    </div>
  </tr>
  {% endfor %}
  <div>
    <button type="button">
      <a href="{% url 'clear' %}" style="color: #000000; text-decoration: none"
        >Clear Tasks</a
      >
    </button>

    <button type="button">
      <a
        href="{% url 'addTask' %}"
        style="color: #000000; text-decoration: none"
        >Add Task</a
      >
    </button>
  </div>
</body>
{% endblock content %}
