{% extends 'todo/base.html' %}
<title>To-Do List</title>
{% block content %}
<body>
  {% for task in tasks %}
    {% if not task.completed %}
        <tr>
            <div class="custom-control form-control-lg custom-checkbox">
            <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
            />
            <label class="custom-control-label" for="flexCheckDefault"> {{task}} {{task.completed}} </label>
            </div>
        </tr>
    {% endif %}
  {% endfor %}
  Completed
  {% for task in tasks %}
    {% if task.completed %}
        <tr>
            <div class="custom-control form-control-lg custom-checkbox">
            <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
            />
            <label class="custom-control-label" for="flexCheckDefault"> {{task}} </label>
            </div>
        </tr>
    {% endif %}
  {% endfor %}
  <div>
    <button type="button">
      <a href="{% url 'clear' %}" style="color: #000000; text-decoration: none"
        >Clear Tasks</a
      >
    </button>

    <button type="button">
      <a
        href="{% url 'addTask' %}"
        style="color: #000000; text-decoration: none"
        >Add Task</a
      >
    </button>
  </div>
</body>
{% endblock content %}
