{% extends 'todo/base.html' %}
<title>To-Do List</title>
{% block content %}
<body>
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>
    <div>
    <button type="button">
        <a href="{% url 'clear' %}" style="color:#000000; text-decoration:none">Clear Tasks</a>
    </button>

    <button type="button">
        <a href="{% url 'addTask' %}" style="color:#000000; text-decoration:none">Add Task</a>
    </button>
    </div>
</body>
{% endblock content %}